# ----------------------------------------------------------------------------
addons:
  apt:
    packages:
      - wget
      # ----------------------------------------------------------------------
      # Package list from http://bazel.io/docs/install.html.
      - g++
      - oracle-java8-installer
      - pkg-config
      - zip
      - zlib1g-dev

# ----------------------------------------------------------------------------
# Commands to prepare the system to install prerequisites or dependencies:
before_install:
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  - export PROJECT_DIR=$(pwd)

# ----------------------------------------------------------------------------
# Commands to install dependencies necessary to build / test the project:
install:
  - cd $HOME
  # Install Bazel.
  # --------------------------------------------------------------------------
  - BAZEL_VERSION=0.2.2b
  - BAZEL_INSTALLER=bazel-${BAZEL_VERSION}-installer-linux-x86_64.sh
  - wget https://github.com/bazelbuild/bazel/releases/download/${BAZEL_VERSION}/${BAZEL_INSTALLER}
  - chmod +x $BAZEL_INSTALLER
  - ./$BAZEL_INSTALLER --user
  - export PATH="$PATH:$HOME/bin"
  # Configure Bazel.
  # --------------------------------------------------------------------------
  # Do not use sandboxed execution. Sandboxed execution runs stuff in a
  # container, and since Travis already runs its script in a container (unless
  # you require sudo in your .travis.yml) this fails to run tests.
  - echo 'build --spawn_strategy=standalone --genrule_strategy=standalone' > .bazelrc
  - echo 'test --test_strategy=standalone' >> .bazelrc
  # Enable printing the command lines of failed steps.
  - echo 'build --verbose_failures' >> .bazelrc

# ----------------------------------------------------------------------------
# Commands to prepare the project for testing:
before_script:
  - cd $PROJECT_DIR

# ----------------------------------------------------------------------------
# Commands to run tests:
script:
   - bazel test //...

